// Base

$basesize : 16px;

// Default Bootstrap Widths
$xsmall : 500px; /* Small devices (tablets, 768px and up) */
$small : 768px; /* Small devices (tablets, 768px and up) */
$medium : 992px; /* Medium devices (desktops, 992px and up) */
$large : 1200px; /* Large devices (large desktops, 1200px and up) */

// Default Colours
$teal: #639FAB;
$dark: #222222;
$blue: #1C4175;
$lilac: #BBCDE5;

// Default Fonts

$catamaran: 'Catamaran', sans-serif;
