body{
	position:relative;
	font-family:$catamaran;
}

/*==============================
=            Footer            =
==============================*/

footer {
	width:100%;
	background:$dark;
	color:white;
	text-align:center;
	margin-top:-7px;
	.container {
		width:75%;
		margin:0 auto;
		padding:5%;
		@include respond-max($small) {
			width:90%;
		}

		h2 {
			font-weight:700;
		}
		h3 {
			font-weight:300;
			padding-bottom:5%;
		}
		.form {
			width:100%;
			input {
				width:70%;
				margin:5px;
				padding:10px;
				color:$dark;
				border:none;
				@include respond-max($small) {
					width:90%;
				}

			}
			textarea {
				width:70%;
				margin:5px;
				padding:10px;
				color:$dark;
				@include respond-max($small) {
					width:90%;
				}

			}
			.wpcf7-submit {
				background:$teal;
				color:white;
				font-weight:700;
				width: 70%;
    		margin-left: 20px;
				@include respond-max($small) {
					width:90%;
				}

			}
		}
		.social {
			width:100%;
			ul {
				width:100%;
				list-style-type:none;
				display:inline-block;
				margin:0;
				padding:0;
				li {
					list-style-type:none;
					display:inline-block;
					text-align:center;
					padding:20px;
					a {
						color:white;
						text-decoration:none;
						font-size:30px;
						padding:10px;
						&:hover {
							color:$teal;
						}
					}
				}
			}
		}
	}
	p {
		span {
			padding:0 20px;
		}
		a {
			color:white;
			text-decoration:none;
			&:link {
				color:white;
				text-decoration:none;
			}
			&:hover {
				color:white;
				border-bottom:1px solid white;
				padding-bottom:10px;
				text-decoration:none;
			}
		}
	}
}

.credit {
	width:100%;
	background:$dark;
	color:white;
	text-align:center;
	font-size:16px;
	padding:3% 0;
	line-height:25px;
	i {
		color:$teal;
	}
}

/*================================
=            Featured            =
================================*/

#featured {
	width:100%;
	padding:0;
	background:#f2f2f2;
	margin:0;
	.container {
		width:75%;
		margin:0 auto;
		@include respond-max($small) {
			width:90%;
		}
		h1 {
			text-align:center;
			padding-top:10%;
			font-weight:600;
			color:$dark;
		}
		.project {
			padding-top:6%;
			margin:0;
			clear:both;
			width:100%;
			overflow:hidden;
			@include respond-max($small) {
				display:block;
				padding-top:5%;
			}
			&:last-child {
				padding-bottom:5%;
			}
			.col-md-5 {
				padding-top:15%;
				@include respond-max($small) {
					padding-top:0;
				}

				h2 {
					font-weight:600;
					color:$teal;
				}
				.intro {
					font-weight: 300;
					margin: 0;
					padding: 0;
					padding-bottom:10%;
				}
				.type {
					font-weight:600;
					padding-bottom: 8%;
				}
				p {
					color:$dark;
					font-weight:300;
					a {
						color:$dark;
						font-style:italic;
						text-decoration:none;
						&:hover {
							border-bottom:1px solid $teal;
						}
					}
				}
			}
			.col-md-7 {
				@include respond-max($small) {
					padding:0;
				}

				img {
					width:100%;
				}
			}
		}

	}
}

#allprojects {
	background:#f2f2f2;
	color:$dark;
	padding-bottom:10%;
	text-align:center;
	margin:0;
	@include respond-max($small) {
		padding:10% 0;
	}

	h2 {
		font-weight:300;
		width:40%;
		margin:0 auto;
		padding:10px;
		font-size:18px;
		@include respond-max($small) {
			width:100%;
		}

		a {
			text-decoration:none;
			color:$dark;
			border:2px solid $teal;
			padding:5px 40px;
			&:hover {
				background:$teal;
				color:white;
				transition:0.4s ease-in-out;
			}
		}
	}
}

/*================================
=            About Intro         =
================================*/

#about-intro {
	width:100%;
	background:$dark;
	color:#f2f2f2;
	padding:10% 0;
	margin:0;
	.container {
		width:50%;
		margin:0 auto;
		@include respond-max($small) {
			width:80%;
		}

		h2 {
			font-weight:700;
			padding-bottom:3%;
		}
		h3 {
			font-weight:300;
			width:100%;
			padding-bottom:3%;
			@include respond-max($small) {
				width:100%;
			}
		}
		p {
			font-weight:300;
			line-height:35px;
		}
	}
}

#sb_instagram {
	@include respond-max($small) {
		display:none;
	}
}


/*================================
=              About             =
================================*/

#about {
	width:100%;
	background:white;
	color:$dark;
	padding:10% 0;
	margin:0;
	.container {
		width:50%;
		margin:0 auto;
		@include respond-max($small) {
			width:80%;
		}

		h2 {
			font-weight:700;
			padding-bottom:3%;
		}
		h3 {
			font-weight:300;
			width:100%;
			padding-bottom:3%;
			@include respond-max($small) {
				width:100%;
			}
		}
		p {
			font-weight:300;
			line-height:35px;
		}
	}
}

#sb_instagram {
	@include respond-max($small) {
		display:none;
	}
}


/*================================
=            Projects            =
================================*/

#intro {
	width:100%;
	display:flex;
	padding:0;
	h2 {
		font-weight:700;
	}
	h3 {
		font-weight:300;
		width:70%;
		@include respond-max($small) {
			width:100%;
			padding-bottom:30px;
		}

	}
	p {
		color:white;
		font-weight:300;
		padding-top:5%;
		a {
			color:white;
			font-style:italic;
			text-decoration:none;
			&:hover {
				border-bottom:1px solid white;
			}
		}
	}

	@include respond-max($small) {
		display:block;
	}
	.col-md-12 {
		flex:1;
		@include respond-max($small) {
			width:100%;
  	}
		background:$dark;
		color:white;
		.container {
			width:80%;
			padding:5%;
			h2 {
				line-height:40px;
			}
		}
	}
}

#projects {
	width:100%;
	padding:0;
	margin:0;
	background:#f2f2f2;
	.container {
		width:75%;
		margin:0 auto;
		@include respond-max($small) {
			width:90%;
		}

		.project {
			padding-top:6%;
			margin:0;
			clear:both;
			width:100%;
			overflow:hidden;
			@include respond-max($small) {
				display:block;
			}
			&:last-child {
				padding-bottom:15%;
			}
			.col-md-5 {
				padding-top:15%;
				h2 {
					font-weight:700;
					color:$teal;
				}
				.intro {
					font-weight: 300;
					margin: 0;
					padding: 0;
					padding-bottom:10%;
				}
				.type {
					font-weight:600;
					padding-bottom: 8%;
				}
				p {
					color:$dark;
					font-weight:300;
					a {
						color:$dark;
						font-style:italic;
						text-decoration:none;
						&:hover {
							border-bottom:1px solid $teal;
						}
					}
				}
			}
			.col-md-7 {
				@include respond-max($small) {
					padding:0;
				}

				img {
					width:100%;
				}
			}
		}

	}
}
