@mixin respond-min($width)
{
	@media screen and (min-width: $width){
		@content;
	}
}
@mixin respond-max($width)
{
	@media screen and (max-width: $width){
		@content;
	}
}

@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
