/* IE 10 in Windows 8 Device Size Fix */

@-webkit-viewport {
	width:device-width;
}
@-moz-viewport {
	width:device-width;
}
@-ms-viewport {
	width:device-width;
}
@-o-viewport {
	width:device-width;
}
@viewport {
	width:device-width;
}